# Joins

In [1]:
import pandas as pd
import sqlite3
import numpy as np

conexao = sqlite3.connect('BancoDeSangue.db')

query_tudo = """"
SELECT Doadores.*, Hospitais.nome_do_hospital
FROM Doadores
JOIN Doacoes ON Doadores.ID_do_doador = Doacoes.ID_do_doador
JOIN Hospitais ON Doacoes.local_da_doacao = Hospitais.ID_do_hospital;

""""'"""

query = pd.read_sql_query(query_tudo, conexao)
df = pd.DataFrame(query)
csv = df.to_csv("Query_consulta.csv", index = False)

conexao.commit()
pd.read_csv("Query_consulta.csv") #lendo csv com pandas

# Fechar a conex√£o com o banco de dados
conexao.close()

DatabaseError: Execution failed on sql '"
SELECT Doadores.*, Hospitais.nome_do_hospital
FROM Doadores
JOIN Doacoes ON Doadores.ID_do_doador = Doacoes.ID_do_doador
JOIN Hospitais ON Doacoes.local_da_doacao = Hospitais.ID_do_hospital;

'': unrecognized token: ""
SELECT Doadores.*, Hospitais.nome_do_hospital
FROM Doadores
JOIN Doacoes ON Doadores.ID_do_doador = Doacoes.ID_do_doador
JOIN Hospitais ON Doacoes.local_da_doacao = Hospitais.ID_do_hospital;

'"